@import "./header.css";
@import "./fonts.css";
@import "./footer.css";
@import "./RWD_header.css";
*,*::after,*::after {
    box-sizing: border-box !important;
}
body{
    font-size: 0;
    box-sizing: border-box;
    font-family: 'TaipeiSansTCBeta-Regular';
    position: relative;
}
h2,h4{
    font-family: 'TaipeiSansTCBeta-Light';
}

/*主框*/
main.main{
    width: 100%;
/*    border: 1px solid red;*/
    display: flex;
    justify-content: center;
    overflow: hidden;
}
div.conversation_border{
    width: 1200px;
/*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*日期*/
div.mon0817{
    width: 150px;
    background-color: rgb(248,248,248);
    border-radius: 50px;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateX(100%);
    transition: 1s;
}
p.mon0817{
    margin: 0;
    padding: 15px 0px;
    font-size: 20px;
    color: black;
    text-align: center;
}

/*內容*/
div.green{
    background-color: rgb(195,246,157);
    border-radius: 10px;
    box-shadow: 0px 3px 6px black;
    position: relative;
    align-self: flex-end;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateX(100%);
    transition: 1s;
    cursor: pointer; 
}
div.green:active{
    transform: translatey(15%);
}
div.green:active div.let{
    transform: translatey(15%);
}
p.same_font{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: black;
}
p.right_1{
    padding: 15px 15px 35px 15px;
}
div.right_triangle{
    border-top: 15px solid rgba(0,0,0,0);
    border-bottom: 15px solid rgba(0,0,0,0);
    border-left: 20px solid rgb(195,246,157);
    position: absolute;
    top: 10px;
    right: -10px;
}
/*left_1*/
div.gray{
    background-color: rgb(239,239,239);
    border-radius: 10px;
    box-shadow: 0px 3px 6px black;
    position: relative;
    align-self: flex-start;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateX(100%);
    transition: 1s; 
    cursor: pointer;
}
div.gray:active{
    transform: translatey(50%);
}
div.gray:active div.let{
    transform: translatey(50%);
}
p.left_1{
    padding: 15px 35px 35px 15px;
}
div.left_triangle{
    border-top: 15px solid rgba(0,0,0,0);
    border-bottom: 15px solid rgba(0,0,0,0);
    border-right: 20px solid rgb(239,239,239);
    position: absolute;
    top: 10px;
    left: -10px;
}
div.same_person_boder{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: -90px;
    cursor: pointer;
    transition: 0.8s;
}
div.same_person_boder:hover{
    transform: rotateY(360deg) scale(1.1);
}
div.person_1{
    background-image: url("../HTML/index_1_2/1p.JPG");
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}
/*left_2*/
p.left_2{
    padding: 15px 35px 10px 15px;
}
p.left_2_1{
    padding: 0px 35px 15px 15px;
}
div.person_2{
    background-image: url("../HTML/index_1_2/3p.JPG");
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}
/*right_2*/
p.right_2{
    width: 260px;
    padding: 15px 15px 25px 15px;
    line-height: 35px;
}
/*right_3*/
div.right_3{
    display: flex;
    flex-direction: column;
}
div.enentrance_border{
    display: flex;
}
div.entrance_1{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/entrance1.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
div.entrance_2{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/entrance.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
p.right_3{
    padding: 15px 15px 25px 15px;
}
/*left_3*/
p.left_3{
    padding: 15px 35px 35px 15px;
}
/*left_4*/
p.left_4{
    padding: 15px 35px 35px 15px;
}
/*right_4*/
p.right_4{
    padding: 10px 15px 5px 15px;
}
p.right_4_1{
    padding: 10px 15px 25px 15px;
}
/*left_5*/
p.left_5{
    padding: 15px 35px 35px 15px;
}
/*right_5*/
div.right_5{
    width: 200px;
    line-height: 35px;
}
p.right_5{
    padding: 15px 15px 25px 15px;
}
/*left_6*/
p.left_6{
    padding: 15px 35px 35px 15px;
}
/*left_7*/
p.left_7{
    padding: 15px 35px 35px 15px;
}
/*right_6*/
div.view_beautiful{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/view_beautiful.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
p.right_6{
    padding: 15px 15px 25px 15px;
}
/*left_8*/
p.left_8{
    padding: 15px 15px 25px 15px;
}
/*left_9*/
div.left_9{
    width: 200px;
}
p.left_9{
    padding: 15px 15px 25px 15px;
    line-height: 35px;
}
/*right_7*/
div.right_7{
    display: flex;
    flex-direction: column;
}
div.maya_border{
    display: flex;
}
div.maya_1{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/go_hiking.jpg");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    margin: 15px;
}
div.maya_2{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/maya.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
p.right_7{
    padding: 15px 15px 25px 15px;
}
/*left_10*/
div.left_10{
    width: 200px;
}
p.left_10{
    padding: 15px 15px 25px 15px;
}
/*left_11*/
div.left_11{
    width: 200px;
}
p.left_11{
    padding: 15px 15px 25px 15px;
}
/*left_12*/
div.left_12{
    width: 200px;
}
p.left_12{
    padding: 15px 15px 25px 15px;
}
/*right_8*/
div.right_8{
    display: flex;
    flex-direction: column;
    /* width: 1060px; */
}
div.bath_border{
    display: flex;
}
div.bath_1{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/bath_1.jpg");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    margin: 15px;
}
div.bath_2{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/bath_2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
p.right_8{
    padding: 15px 15px 25px 15px;
    line-height: 35px;
}
/*left_13*/
div.left_13{
    width: 200px;
}
p.left_13{
    padding: 15px 15px 25px 15px;
}
/*right_9*/
div.right_9{
    display: flex;
    flex-direction: column;
}
div.castle_border{
    display: flex;
}
div.castle_1{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/castle.jpg");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    margin: 15px;
}
div.castle_2{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/castle_1.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
p.right_9{
    padding: 15px 15px 25px 15px;
    line-height: 35px;
}
/*left_14*/
div.left_14{
    width: 200px;
}
p.left_14{
    padding: 15px 15px 25px 15px;
}
/*right_10*/
div.right_10{
    width: 200px;
    line-height: 35px;
}
p.right_10{
    padding: 15px 15px 25px 15px;
}
/*right_11*/
div.right_11{
    display: flex;
    flex-direction: column;
}
div.top_border{
    display: flex;
}
div.top_1{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/top_1.jpg");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    margin: 15px;
}
div.top_2{
    width: 500px;
    height: 300px;
    background-image: url("../HTML/index_1_2/top_2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 15px;
}
p.right_11{
    padding: 15px 15px 25px 15px;
    line-height: 35px;
}
article.article{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    max-height: 90vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    overflow-y: auto;
    padding: 7% 0;
    transition: 1s;
}
article.article div{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    /* border: 1px solid red; */
    transition: 1s;
}
img.jump_pic{
    width: 100%;
    height: 400px;
    transition: 1s;
}
button.close_btn{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    color: white;
    background-color: black;
    font-size: 6vw;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    transition: 1s;
}
button.close_btn:hover{
    transform: rotateY(180deg);
}
/* *{
   border: none !important;
} */

/* main */
@media screen and (max-width:1400px){
    header.header{
        transition: 1s;
    }
    div.conversation_border{
        transition: 1s;
        width: 1000px;
    }
}
@media screen and (max-width:1300px){
    header.header{
        transition: 1s;
    }
    div.conversation_border{
        width: 900px;
    }
    div.same_width{
        width: 400px;
        height: 250px;
    }
}
@media screen and (max-width:1200px){
    header.header{
        transition: 1s;
    }
    div.conversation_border{
        width: 900px;
    }
    div.same_width{
        width: 400px;
        height: 250px;
    }
    div.gray{
        margin-left: 80px;
    }
}
@media screen and (max-width:1000px){
    div.conversation_border{
        width: 700px;
    }
    div.same_green_bg{
        flex-direction: column;
    }
    p.right_8{
        width: 400px;
    }
    p.right_9{
        width: 400px;
    }
    p.right_11{
        width: 400px;
    }
}
@media screen and (max-width:800px){
    div.conversation_border{
        width: 500px;
    }
}
@media screen and (max-width:600px){
    div.conversation_border{
        width: 400px;
    }
    div.same_width{
        width: 300px;
        height: 200px;
    }
    main.main p{
        font-size: 16px;
        line-height: 22px;
    }
    p.right_7{
        width: 300px;
    }
    p.right_8{
        width: 300px;
    }
    p.right_9{
        width: 300px;
    }
    p.right_11{
        width: 300px;
    }
}
@media screen and (max-width:450px){
    div.conversation_border{
        width: 290px;
    }
    div.same_width{
        width: 250px;
        height: 150px;
    }
    div.gray{
        margin-left: 90px;
    }
    p.right_7{
        width: 250px;
    }
    p.right_8{
        width: 250px;
    }
    p.right_9{
        width: 250px;
    }
    p.right_11{
        width: 250px;
    }
}

/* 彈跳視窗 */
@media screen and (max-width:1200px){
    article.article{
        width: 85%;
    }
}
@media screen and (max-width:800px){
    article.article{
        width: 90%;
    }
    article.article div{
        width: 80%;
        height: 350px;
    }
    img.jump_pic{
        width: 100%;
        height: 350px;
    }
}
@media screen and (max-width:700px){
    article.article{
        width: 90%;
        height: 50vh;
        padding-top: 4%;
        padding-bottom: 0%;
    }
    article.article div{
        width: 90%;
        height: 300px;
    }
    img.jump_pic{
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width:600px){
    article.article{
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        padding-top: 45%;
    }
    article.article div{
        width: 100%;
        height: 350px;
    }
    img.jump_pic{
        width: 100%;
        height: 350px;
    }
}
@media screen and (max-width:450px){
    article.article{
        display: flex;
        align-items: center;
        padding: 0;
    }
    article.article div{
        height: 230px;
    }
    img.jump_pic{
        height: 230px;
    }
}