@import "./header.css";
@import "./fonts.css";
@import "./footer.css";
@import "./RWD_header.css";
*,*::after,*::after {
    box-sizing: border-box !important;
}
body{
    font-size: 0;
    box-sizing: border-box;
    font-family: 'TaipeiSansTCBeta-Regular';
}
h2,h4{
    font-family: 'TaipeiSansTCBeta-Light';
}
main.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
main.main div.full_width{
    width:100%;
    margin-top: 100px;
    /* border: 1px solid gray;  */
}
main.main div.about_border{
    display: flex;
}
main.main div.about_border div.about{
    width: 50%;
    /* border: 1px solid red; */
    background-image: url("../HTML/index/about_bottom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 70%;
    display: flex;
}
main.main div.about_border div.about div.about_content{
    width: 56%;
    /* border: 1px solid rgb(19, 16, 16); */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 35%;
}

main.main div.about_border div.about_picture{
    width: 50%;
    overflow: hidden;
    /* border: 5px solid black; */
    display: flex;
}

img.about_picture{
    width: 100%;
    object-fit: cover;
    transition: all 1s;
    /* height: 50%; */
}
img.about_picture:hover{
    transform: scale(1.2);
}
h2.content_title_80{
    font-size: 70px;
    color: rgb(112,112,112);
    margin: 0;
    margin-bottom: 20px;
}
h4.content_title_40_1{
    font-size: 40px;
    color: rgb(112,112,112);
    margin: 0;
    margin-bottom: 20px;
}
p.content_1{
    font-size: 20px;
    color: rgb(112,112,112);
    margin: 0;
    text-indent: 40px;
    line-height: 20px;
}
p.content_2{
    font-size: 20px;
    color: rgb(112,112,112);
    margin: 0;
    margin-bottom: 20px;
    text-indent: 40px; 
    line-height: 25px;
}
h4.content_title_40_2{
    font-size: 40px;
    color: rgb(112,112,112);
    margin: 0;
    margin-bottom: 20px;
}
p.content_3{
    font-size: 20px;
    color: rgb(112,112,112);
    margin: 0;
    line-height: 25px;
}
p.content_4{
    font-size: 20px;
    color: rgb(112,112,112);
    margin: 0;
    line-height: 20px;
}
p.content_5{
    font-size: 20px;
    color: rgb(112,112,112);
    margin: 0;
    margin-bottom: 20px;
    line-height: 25px;
}
p.content_6{
    font-size: 20px;
    color: rgb(112,112,112);
    margin: 0;
    text-indent: 40px;
    line-height: 25px;
}
main.main div.introduce{
    display: flex;
    margin-top: 5%;
}
div.introduce_group{
    width: 33.3333%;
    height: 100%;
    /* border: 1px solid red; */
}
div.introduce_life{
    width: 33.3334%;
    height: 100%;
    /* border: 1px solid blue; */
}
div.introduce_nature{
    width: 33.3333%;
    height: 100%;
    /* border: 1px solid green; */
}
div.intrdouce_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
h2.introduce_same{
    font-size: 70px;
    color: rgb(112,112,112);
    /* border: 1px solid brown; */
    text-align: center;
    margin: 5% 0%;
}
div.introduce_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    transition: 0.8s;
    /* border: 1px solid green; */
}
div.introduce_group_picture{
    background-image: url("../HTML/index/group.jpg");
    background-size:cover;
    background-position: center;
}
div.introduce_life_picture{
    background-image: url("../HTML/index/life.jpg");
    background-size:cover;
    background-position: center;
}
div.introduce_nature_picture{
    background-image: url("../HTML/index/nature.JPG");
    background-size:cover;
    background-position: center;
}
div.content_border{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(112,112,112,0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.8s;
}
div.introduce_picture:hover{
    border-radius: 25%;
    transform: scale(0.97);
}
div.introduce_picture:hover > div.content_border{
    opacity: 1;
    cursor: pointer;
    border-radius: 25%;
}
p.introduce_content_same{
    width: 55%;
    margin: 0;
    font-size: 20px;
    color: white;
    /* text-indent: 40px; */
    line-height: 35px;
    text-align: justify;
    opacity: 0;
    transition: 0.8s;
    transition-delay: 0.4s;
}
div.introduce_picture:hover > div.content_border > p.introduce_content_same{
    opacity: 1;
    cursor: pointer;
}
p.group_content::before{
    content: "第一次爬山是認";
    font-size: 30px;
    white-space: nowrap;
    display: block;
    text-align: right;
}
p.life_content::before{
    content: "登山不僅僅是一";
    font-size: 30px;
    white-space: nowrap;
    display: block;
    text-align: right;
}
p.nature_content::before{
    content: "登山不僅是一項";
    font-size: 30px;
    white-space: nowrap;
    display: block;
    text-align: right;
}

/*合歡山大照片*/
/* div.mountain{
} */
a.five_picture{
    text-align: center;
    text-decoration: none;
    color: rgb(112,112,112);
}
a.five_picture:visited{
    color: rgb(112,112,112);
}
img.five_picture{
    width: 60%;
    transition: 1s;
}
img.five_picture:hover{
    border-radius: 100%;
    transform: rotatey(180deg);
}
h2.five_picture{
    width: 60%;
    font-size: 5vw;
    margin: 0;
    margin-bottom: 1%;
}
a.index_1{
    text-decoration: none; 
    color: black;
}
a.index_1:visited{
    color: black;
}

/*景點介紹*/
div.view_border{
    display: flex;
    justify-content: center;
}
div.view_border_flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid red; */
}
div.view_border_center{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}
a.view_introduce{
    color: rgb(112,112,112);
    text-decoration: none;
}
a.view_introduce:visited{
    color: rgb(112,112,112);
}
h2.view_title{
    font-size: 80px;
    color: rgb(112,112,112);
    margin: 0;
    /* border: 1px solid black; */
}
div.view_name_bg{
    display: flex;
    flex-direction: column;
    position: relative;
}
div.view_picture{
    display: flex;
}
img.view{
    width: 100%; 
}
div.view_content_border{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid rgba(112,112,112,0.5);
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.5);
}
div.view_content_border::-webkit-scrollbar{
    display: none;
}
h4.view_name{
    font-size: 40px;
    color: rgb(112,112,112);
    margin: 0;
    margin-bottom: 15px;
}
p.view_content{
    margin: 0;
    font-size: 20px;
    color: rgb(112,112,112);
    text-indent: 40px;
    line-height: 30px;
    padding: 0px 5px;
    text-align: justify;
}
/* 影片介紹 */
div.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.video_title_border{
    /* border: 1px solid red; */
    margin-bottom: 2%;
}
div.video_border{
    display: flex;
    width: 1200px;
    /* border: 1px solid red; */
}
h2.video_title{
    font-size: 80px;
    color: rgb(112,112,112);
    margin: 0;
}
div.video_name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    /* border: 1px solid blue; */
}
button.video_border_name{
    font-size: 35px;
    color: rgb(255,255,255);
    width: 85%;
    margin: 0;
    padding: 5px 0px;
    background-color: rgba(0,0,0,0.2);
    border: 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: all 1s;
}
button.video_border_name:nth-child(1){
    background-color: rgb(255,255,255);
    color: rgba(0,0,0,0.2);
}
div.video_play{
    display: flex;
    width: 80%;
    height: 100%;
    border: 1px solid black;
}
iframe.iframe_youtube{
    display: block;
    width: 100%;
    height: 600px;
}
iframe.iframe_youtube:nth-child(2){
    display: none;
}
iframe.iframe_youtube:nth-child(3){
    display: none;
}
iframe.iframe_youtube:nth-child(4){
    display: none;
}
/* 作者 */
div.author{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
div.author_border{
    display: flex;
    width: 1200px;
    justify-content:space-between ;
    /* border: 1px solid red; */
}
div.author_picture{
    display: flex;
    width: 50%;
    /* border: 1px solid green; */
}
img.author_picture{
    width: 90%;
}
div.author_introduce{
    width: 50%;
    /* border: 1px solid blue; */
}
h2.author_introduce{
    margin: 0;
    font-size: 80px;
    color: rgb(112,112,112);
    margin-bottom: 15px;
}
h4.author_name{
    margin: 0;
    font-size: 40px;
    color: rgb(112,112,112);
    margin-bottom: 5%;
}
p.author_content_same{
    margin: 0;
    font-size: 20px;
    color: rgb(112,112,112);
    margin-bottom: 5%;
    text-align: justify;
}
p.author_content{
    text-indent: 40px;
    margin-bottom: 4%;
    line-height: 25px;
}

/* 關於 */
@media screen and (min-width: 992px) and (max-width: 1199px){
    main.main div.about_border div.about div.about_content{
        width: 75%;
        margin-bottom: 50px;
        margin-left: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    main.main div.about_border div.about div.about_content{
        width: 100%;
        margin: 3%;
    }
    main.main div.about_border{
        margin-top: 80px;
    }
    h2.content_title_80{
        font-size: 60px;
    }
    h4.content_title_40_1,h4.content_title_40_2{
        font-size: 30px;
    }
    p.content_1,p.content_2,p.content_3,p.content_4,p.content_5,p.content_6{
        font-size: 18px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    main.main div.about_border{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 70px;
    }
    main.main div.about_border div.about_picture{
        width: 100%;
    }
    main.main div.about_border div.about{
        width: 100%;
        
    }
    main.main div.about_border div.about div.about_content{
        width: 100%;
        margin: 3% 4% 5% 4%;
    }
    h2.content_title_80{
        font-size: 50px;
    }
    h4.content_title_40_1,h4.content_title_40_2{
        font-size: 30px;
    }
    p.content_1,p.content_2,p.content_3,p.content_4,p.content_5,p.content_6{
        font-size: 18px;
    }
}


@media screen and (max-width: 576px){
    main.main div.about_border{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
    }
    main.main div.about_border div.about_picture{
        width: 100%;
        align-items: center;
    }
    /* main.main div.about_border div.about_picture img.about_picture{
        width: 100%;
    } */
    main.main div.about_border div.about{
        width: 100%;
    }
    main.main div.about_border div.about div.about_content{
        width: 100%;
        margin: 3% 4% 5% 4%;
    }
    h2.content_title_80{
        font-size: 30px;
        margin-bottom: 2%;
    }
    h4.content_title_40_1,h4.content_title_40_2{
        font-size: 20px;
        margin-bottom: 1%;
    }
    p.content_1,p.content_2,p.content_3,p.content_4,p.content_5,p.content_6{
        font-size: 12px;
        line-height: 18px;
    }
    p.content_2,p.content_5{
        margin-bottom: 3%;
    }
}

/* 介紹 */
@media screen and (min-width: 992px) and (max-width: 1199px){   
    h2.introduce_same{
        font-size: 60px;
    }
    div.introduce_picture{
        height: 500px;
    }
    p.introduce_content_same{
        width: 75%;
        line-height: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    h2.introduce_same{
        font-size: 50px;
    }
    div.introduce_picture{
        height: 400px;
    }
    p.introduce_content_same{
        width: 75%;
        line-height: 25px;
        font-size: 18px;
    }
    p.group_content::before{
        font-size: 25px;
    }
    p.life_content::before{
        font-size: 25px;
    }
    p.nature_content::before{
        font-size: 25px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    div.introduce{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.intrdouce_title{
        width: 100%;
    }
    h2.introduce_same{
        font-size: 60px;
        margin-top: 70px;
        margin-bottom: 0.5%;
    }
    p.introduce_content_same{
        width: 40%;
    }
    div.introduce_picture{
        height: 500px;
    }
}

@media screen and (min-width: 450px) and (max-width: 576px){
    div.introduce{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.intrdouce_title{
        width: 100%;
    }
    h2.introduce_same{
        font-size: 45px;
        margin-bottom: 0.5%;
    }
    p.introduce_content_same{
        width: 55%;
    }
    div.introduce_picture{
        height: 500px;
    }
}
@media screen and (max-width: 450px){
    div.introduce{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.intrdouce_title{
        width: 100%;
    }
    p.introduce_content_same{
        width: 52%;
        line-height: 20px;
        font-size: 12px;
    }
    h2.introduce_same{
        font-size: 30px;
        margin-bottom: 0.5%;
    }
    p.group_content::before{
        font-size: 20px;
        line-height: 25px;
    }
    p.life_content::before{
        font-size: 20px;
        line-height: 25px;
    }
    p.nature_content::before{
        font-size: 20px;
        line-height: 25px;
    }
    div.introduce_picture{
        height: 400px;
    }
}
@media screen and (max-width:768){
    h2.introduce_same{
        margin-bottom: 1%;
    }
}

/* 合歡山 */
@media screen and (max-width:992px){
    main.main div.mountain{
        margin-top: 80px;  
    }
    img.five_picture{
        width: 75%;
    }
    h2.five_picture{
        width: auto;
    }
}
@media screen and (max-width:768px){
    main.main div.mountain{
        margin-top: 70px;
    }
    img.five_picture{
        width: 85%;
    }
    h2.five_picture{
        font-size: 8vw;
    }
}
@media screen and (max-width:576px){
    main.main div.mountain{
        margin-top: 30px;
    }
    img.five_picture{
        width: 100%;
    }
}

/* 景點介紹 */

@media screen and (max-width:1200px){
    h2.view_title{
        font-size: 5vw;
    }
    div.view_border_center{
        margin-left: 1.5%;
    }
}
@media screen and (max-width:992px){
    main.main div.view_border{
        margin-top: 80px;
    }
    div.view_content_border{
        width: 320px;
        height: 290px;
    }
    h4.view_name{
        font-size: 30px;
        line-height: 35px;
    }
    p.view_content{
        font-size: 18px;
        line-height: 24px;
    }
}
@media screen and (max-width:768px){
    main.main div.view_border{
        margin-top: 70px;
    }
    div.view_content_border{
        width: 300px;
        height: 200px;
    }
    h2.view_title{
        font-size: 8vw;
    }
    h4.view_name{
        font-size: 24px;
        margin-bottom: 10px;
    }
    p.view_content{
        font-size: 16px;
        line-height: 22px;
    }
    
}
@media screen and (max-width:650px){
    div.view_content_border{
        width: 280px;
        height: 140px;
    }
    h4.view_name{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 6px;
    }
    p.view_content{
        font-size: 16px;
        line-height: 22px;
    }
}
@media screen and (max-width:576px){
    main.main div.view_border{
        margin-top: 30px;
    }
    div.view_content_border{
        width: 120px;
        height: 95px;
        top: 5px;
        left: 5px;
    }
    h4.view_name{
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 2px;
    }
    p.view_content{
        text-indent: 24px;
        font-size: 12px;
        line-height: 14px;
    }
}
/* 登山影片 */
@media screen and (max-width:1220px){
    div.all_include_video{
        width: 100%;
    }
    div.video_border{
        width: 100%;
    }
    div.video_name{
        padding: 0% 1%;
    }
    div.video_title_border{
        margin-left: 1.5%;
        margin-bottom: 2%;
    }
    h2.video_title{
        font-size: 5vw;
    }
}
@media screen and (max-width:992px){
    main.main div.video{
        margin-top: 80px;
    }
    div.video_border{
        display: flex;
        flex-direction: column;
    }
    div.video_name{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1%;
    }
    div.video_play{
        width: 100%;
    }
    button.video_border_name{
        font-size: 30px;
        width: 20%;
    }
    iframe.iframe_youtube{
        height: 500px;
    }
}
@media screen and (max-width:768px){
    main.main div.video{
        margin-top: 70px;
    }
    h2.video_title{
        font-size: 8vw;
    }
    iframe.iframe_youtube{
        height: 400px;
    }
}
@media screen and (max-width:650px){
    button.video_border_name{
        font-size: 24px;
    }
    button.video_border_name{
        font-size: 26px;
    }
    iframe.iframe_youtube{
        height: 300px;
    }
}
@media screen and (max-width:576px){
    main.main div.video{
        margin-top: 30px;
    }
    button.video_border_name{
        font-size: 22px;
    }
    iframe.iframe_youtube{
        height: 280px;
    }
}
@media screen and (max-width:450px){
    main.main div.video{
        margin-top: 30px;
    }
    button.video_border_name{
        font-size: 16px;
        width: 24%;
    }
    iframe.iframe_youtube{
        height: 190px;
        
    }
}
/* 簡介 */
@media screen and (max-width:1200px){
    h2.author_introduce{
        font-size: 5vw;
    }
    div.author_introduce{
        padding-right: 1%;
    }
}
@media screen and (max-width:992px){
    main.main div.author{
        margin-top: 80px;
    }
    img.author_picture{
        width: 100%;
    }
    div.author_introduce{
        padding: 0% 2%;
    }
    h4.author_name{
        font-size: 30px;
    }
    p.author_content_same{
        font-size: 18px;
    }
}
@media screen and (max-width:768px){
    main.main div.author{
        margin-top: 70px;
    }
    h2.author_introduce{
        font-size: 8vw;
        margin-bottom: 2%;
    }
    h4.author_name{
        font-size: 24px;
        margin-bottom: 2%;
    }
    img.author_picture{
        height: 450px;
    }
    p.author_content_same{
        font-size: 16px;
        margin-bottom: 2%;
        line-height: 18px;
    }
}
@media screen and (max-width:650px){
    h4.author_name{
        margin-bottom: 0%;
    }
    img.author_picture{
        height: 380px;
    }
    p.author_content_same{
        font-size: 14px;
        margin-bottom: 1%;
        line-height: 16px;
    }
}
@media screen and (max-width:576px){
    main.main div.author{
        margin-top: 30px;
    }
    div.author_introduce{
        padding: 1%;
    }
    h4.author_name{
        font-size: 20px;
        margin-bottom: 1%;
    }
    p.author_content_same{
        font-size: 12px;
        margin-bottom: 2%;
        line-height: 14px;
        text-align: justify;
    }
    img.author_picture{
        height: 330px;
    }
}
@media screen and (max-width:450px){
    main.main div.author{
        margin-top: 30px;
    }
    div.author{
        overflow: hidden;
    }
    div.author_border{
        position: relative;
    }
    div.author_picture{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
    div.author_introduce{
        width: 100%;
        padding: 0% 3%;
    }
    h4.author_name{
        font-size: 20px;
    }
    p.author_content{
        text-indent: 24px;
    }
    p.author_content_same{
        font-size: 12px;
        margin-bottom: 2%;
        line-height: 16px;
        text-align: justify;
    }
    
    div.author_border:hover div.author_picture{
        transition: 1s;
        transform: translateX(0%);
    }
    
    img.author_picture{
        height:250px;
    }
}
/* *{
    border: none !important;
} */

