@import "./header.css";
@import "./fonts.css";
@import "./footer.css";
@import "./RWD_header.css";
*,*::after,*::after {
    box-sizing: border-box !important;
}
body{
    font-size: 0;
    box-sizing: border-box;
    font-family: 'TaipeiSansTCBeta-Regular';
    position: relative;
}
h2,h3,h4,h5{
    font-family: 'TaipeiSansTCBeta-Light';
}

/*主框*/
main.main{
    width: 100%;
/*    border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
/*登山須知*/
div.mountain_knowledge_border{
    width: 1200px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 1px solid white; */
}
div.mountain_knowledge_two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    /* border: 1px solid red; */
}
div.test_white{
    width: 330px;
    height: 330px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    transition: 0.6s;
}
div.test_white.onw{
    transform: rotateY(180deg);
}
@keyframes rr{
    0%{
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}
div.black_round{
    width: 400px;
    height: 400px;
    background-image: url(../HTML/index_3/black_round.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
div.black_round:hover{
    animation-name: rr;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
div.black_round.onb{
    transform: translate(-50%, -50%) rotateY(180deg);
}
p.knowledge_content{
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.knowledge_content.on{
    transform: translate(-50%, -50%) rotateY(-180deg);
}
p.knowledge_content.none{
    display: none;
}

/*登山裝備*/
div.mountain_equipment_big_border{
    width: 1200px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}
h3.mountain_equipment{
    margin: 0;
    font-size: 7vw;
    color: white;
    text-shadow: 0px 3px 6px black;
    text-align: center;
    margin-bottom: 80px;
}
div.mountain_equipment_border{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.equipment_border{
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 100px;
    margin-right: 1%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p.equipment_ans{
    position: absolute;
    top: 30%;
    font-size: 20px;
    padding: 0% 20%;
    transition: 0.6s;
}
p.equipment_ans.pnone{
    opacity: 0;
}
div.equipment_bg{
    width: 100%;
    height: 70%;
}
p.equipment_title{
    margin: 0;
    font-size: 30px;
    text-align: center;
}
/*hat*/
div.hat{
    background-image: url(../HTML/index_3/hat.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*cloth*/
div.cloth{
    background-image: url(../HTML/index_3/cloth.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*pant*/
div.pant{
    background-image: url(../HTML/index_3/pant.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*coat*/
div.coat{
    background-image: url(../HTML/index_3/coat.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*sock*/
div.sock{
    background-image: url(../HTML/index_3/sock.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*shoes*/
div.shoes{
    background-image: url(../HTML/index_3/shoes.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
/*Trekking_poles*/
div.Trekking_poles{
    background-image: url(../HTML/index_3/Trekking%20poles.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*backpack*/
div.backpack{
    background-image: url(../HTML/index_3/backpack.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*raincoat*/
div.raincoat{
    background-image: url(../HTML/index_3/raincoat.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* *{
    border: none !important;
} */

/* header */

@media screen and (min-width:1200px){
    header.header{
        min-height: 680px;
        transition: 0.5s;
    }
}
@media screen and (max-width:1199px){
    header.header{
        min-height: 680px;
    }
}
@media screen and (max-width:1000px){
    header.header{
        min-height: 580px;
    }
}
@media screen and (max-width:800px){
    header.header{
        min-height: 480px;
    }
    h1.mountain_knowledge{
        font-size: 8vw;
    }
    h3.mountain_equipment{
        font-size: 7vw;
    }
}
@media screen and (max-width:600px){
    header.header{
        min-height: 380px;
    }
}
@media screen and (max-width:450px){
    header.header{
        min-height: 300px;
    }
    h1.mountain_knowledge{
        font-size: 10vw;
    }
    h3.mountain_equipment{
        font-size: 9vw;
    }
}

/* mountain_knowledge_border */
@media screen and (max-width:1235px){
    div.mountain_knowledge_border{
        width: 1000px;
        transition: 0.5s;
    }
}
@media screen and (max-width:1035px){
    div.mountain_knowledge_border{
        width: 800px;
    }
}
@media screen and (max-width:835px){
    div.mountain_knowledge_border{
        width: 600px;
        margin-top: 0%;
    }
    div.mountain_knowledge_two{
        justify-content: center;
        flex-wrap: wrap;
        align-content: stretch;
        margin-bottom: 0;
        transition: 0.5s;
    }
    div.test_white{
        margin-bottom: 10%;
        transition: 0.5s;
    }
}
@media screen and (max-width:635px){
    div.mountain_knowledge_border{
        width: 400px;
    }
}
@media screen and (max-width:450px){
    div.mountain_knowledge_border{
        width: 100%;
    }
    div.test_white{
        width: 300px;
        height: 300px;
        transition: 0.5s;
    }
    div.black_round{
        width: 370px;
        height: 370px;
        transition: 0.5s;
    }
}

/* mountain_equipment_big_border */
@media screen and (max-width:1335px){
    div.mountain_equipment_big_border{
        width: 1100px;
        transition: 0.5s;
    }
}
@media screen and (max-width:1235px){
    div.mountain_equipment_big_border{
        width: 1000px;
    }
}
@media screen and (max-width:1035px){
    div.mountain_equipment_big_border{
        width: 800px;
    }
}
@media screen and (max-width:835px){
    div.mountain_equipment_big_border{
        width: 600px;
    }
    div.mountain_equipment_border{
        justify-content: center;
        transition: 0.5s;
    }
    div.equipment_border{
        margin-bottom: 10%;
        transition: 0.5s;
    }
}
@media screen and (max-width:635px){
    div.mountain_equipment_big_border{
        width: 400px;
    }
}
@media screen and (max-width:450px){
    div.mountain_equipment_big_border{
        width: 310px;
    }
    p.equipment_title{
        font-size: 26px;
        transition: 0.5s;
    }
}